body{
    font-family: Arial, sans-serif;
    margin: 0;

}

dashboard{
    display: grid;
    grid-template-areas: 
    "header header"
    "main sidebar"
    "footer footer";
    grid-template-columns: 200px auto;
    grid-template-columns: 60px auto 40px;
    height: 100vh; /* viewport height */
}

header{
    grid-area: header;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

sidebar{
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 10px;
}

.main{
    grid-area: main;
    background-color: aqua;
    padding: 10px;
}

.footer{
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{  
    margin: 10px 0;
}

body.light{
    background-color: #fff;
    color: #333;
}

body.dark{
    background-color: #333;
    color: #fff;
}
body.dark header{
    background-color: #444;
    color:red;

}
body.dark sidebar{
    background-color: #555;
    color: blueviolet;

}
body.dark .main{
    background-color: #666;
    color: yellow;
}
body.dark .footer{
    background-color: #444;
    color: #fff;
}
